body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.board {
  margin-top: 50%;
  height: 575px;
  width: 210px;
  border-style: solid;
  border-color: rgb(117, 117, 117);
  border-width: thin;
}

.square {
  border: thin solid rgb(117, 117, 117);
  border-radius: 50%;
  float: left;
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-top: 2px;
  margin-left: 2.5px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 102px;
  color: rgb(117, 117, 117);
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}

.square:hover {
  background: rgb(84, 233, 79);
}

.trough {
  border: thin solid rgb(117, 117, 117);
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 64px;
  height: 68px;
  margin-left: 2.5px;
  margin-right: -1px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 201px;
  border-radius: 25%;
  color: rgb(117, 117, 117);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-top: 100px;
  margin-left: 20px;
  width: 575px;
  height: 575px;
}

.navBar {
    background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
    border: 0;
    color: 'white';
}